Django==4.2.3
gunicorn==21.2.0
psycopg2-binary==2.9.6
asgiref==3.7.1
django-extensions==3.2.1
numpy==1.26.0 
pandas==2.1.2
python-dateutil==2.9.0
# pytz==2023.2
six==1.16.0
sqlparse==0.4.3
chardet==5.2.0

# . env/bin/activate