body {
  background-color: #0f121f;
  color: #fff;
}

body * {
  font-family: Ubuntu;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0;
}

a,
a:hover,
a:visited {
  color: #fff;
  text-decoration: none;
}

.collapsible {
  background-color: #454f7c;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #293357;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #1d2133;
}
