{% load static from static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Test PJT</title>
    {% comment %} CSS defs {% endcomment %} {% comment %} bootstrap {%
    endcomment %} {% comment %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    {% endcomment %}

    <link rel="stylesheet" href="{%static 'style.css'%}" />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"
    />
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <style>
      .home-content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
      }
      #footer {
        position: fixed;
        padding: 10px 10px 20px 0px;
        text-align: center;
        bottom: 0;
        width: 100%;

        height: 40px;
        background: grey;
      }
      th {
        text-align: center;
      }
      td {
        background-color: #dbedfe;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 10px;
      }
      .main-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 200px;
        height: 80px;
        border: 1px solid gray;
      }
      #rcorners1 {
        border-radius: 25px;
        background: #dbedfe;
        padding: 30px;
        width: 200px;
        height: 150px;
      }
    </style>
    {% comment %} CSS defs {% endcomment %}
  </head>
  <body>
    <h1>Home Page</h1>
    
    <div class="container-2">
      
      {% comment %} {{orders}}
      <p></p>
      {{length}}
      <p></p>
      {{itemList}}
      <p></p>
      {{itemList2}}
      <p></p>
      {{orderitems}}
      <p></p>
      {{order1}} {{printmodels}}
      <p></p>
      {{exampleorder}}
      <p></p>
      {% endcomment %} 
      {% comment %} <p></p>
      {{newOrderList}}
      <p></p> {% endcomment %}
    {% for order in newOrderList %}
    <br>
    <div data-role="main-container" class="ui-content">
      <div align="right">
        <a href="details/{{order.OrdersID}}" id="rcorners1">Order Details</a>
      </div>
      <div data-role="collapsible">
        <h1>
        <table class="details-content-table">
          <th>Order ID</th>
          <th>Customer Name</th>
          <th>Order Date</th>
          <th>Ship Date</th>
          <tr>
            <td>{{order.OrdersID}} </td>
            <td>{{order.FullName}}</td>
            <td>{{order.SaleDate}}</td>
            <td>{{order.RequiredShipDate}}</td>
          </tr>
        {% comment %} <h1>
          <tbody class="table-body">
          {%if order.OrderCompleted == 0%} <input type="checkbox" />{% endif %}
          {{order.OrdersID}}, Full Name: {{order.FullName}}, Order
          Date: {{order.SaleDate}}, Ship Date: {{order.RequiredShipDate}}
          </tbody>
        </h1> {% endcomment %}
        
      </table>
    </h1>
        {% for orderitem in order.itemList%}
        <br>
        <div data-role="collapsible">
              <h1>
              <table class="home-content-table">
                <th>OrderSKU</th>
                <th>ModelName</th>
                <th>OrderQuantity</th>
                <th>RemFiles</th>
                <th>RemPrinttime</th>
                <th>
                <tr>
                  <td>{{orderitem.OrderSKU}} </td>
                  <td>{{orderitem.ModelName}}</td>
                  <td>{{orderitem.OrderQuantity}}</td>
                  <td>{{orderitem.RemFileSum}}</td>
                  <td>{{orderitem.RemPrinttime}}</td>
                </tr>
              </table>
              <td>{{orderitem.RemPrinttime}}</td> 
              </h1>
        
          <table class="home-content-table">
            <thead>
            <th>
              Color
            </th>
            <th>FileCount</th>
            <th>TotalWeight</th>
            <th>TotalTime</th>
            <th>RemQuant</th>
            <th>RemWeight</th>
            <th>RemTime</th>
          </thead>

            {%for iteminfo in orderitem.AllVals%}
            <tr>

              <td>
              {{iteminfo.0.Color}}
              </td>
              <td>
              {{iteminfo.0.count}}
              </td>
              <td>
              {{iteminfo.0.weightSum}}
              </td>
              <td>
              {{iteminfo.0.timeSum}}
              </td>

              <td>
              {{iteminfo.1.RemQuant}}
              </td>
              <td>
              {{iteminfo.1.RemWeight}}
              </td>
              <td>
              {{iteminfo.1.RemTime}}
              </td>
            </tr>

            {% endfor %}

          </table>
          
        </div>
        
        {% endfor %}
      </div>
    </div>

    {% endfor %}

    <!--
    <button type="button" class="collapsible">Open Collapsible</button>
    <div class="content">
      <p></p>
    </div>

    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }
    </script>
    -->

    {{newOrderList.AllVals}}
   </div>
    <div id="footer">
      <a href="uploadorders/" class="button">Upload new Orders</a>
      <a href="uploadorderitems/" class="button">Upload new Order Items</a>

      <a href="uploadprintdata/" class="button">Upload new Print File Data</a>
      <a href="uploadprintmodels/" class="button">Upload new Print Models</a>

    </div>
  </body>


</html>
