{% load static from static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Test PJT</title>
    {% comment %} CSS defs {% endcomment %} {% comment %} bootstrap {%
    endcomment %} {% comment %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    {% endcomment %}

    <link rel="stylesheet" href="{%static 'style.css'%}" />
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    {% comment %} CSS defs {% endcomment %}
  </head>
  <body>
    <h1>Home Page</h1>
    <div class="container-2">
      {% comment %} {{orders}}
      <p></p>
      {{length}}
      <p></p>
      {{itemList}}
      <p></p>
      {{itemList2}}
      <p></p>
      {{orderitems}}
      <p></p>
      {{order1}}
      <p></p>
      {{newOrderList}}
      <p></p>
      {{printmodels}}
      <p></p>
      {{exampleorder}}
      <p></p> {% endcomment %}

    {% for order in newOrderList %}
    <div data-role="main" class="ui-content">
      <div align="right">
        <a href="details/{{order.OrdersID}}" class="button button2">Order Details</a>
      </div>
      <div data-role="collapsible">
 
      <h1>
      {%if order.OrderCompleted == 0%} <input type="checkbox" />{% endif %}
      OrderID: {{order.OrdersID}}, Full Name: {{order.FullName}}, Order Date:
      {{order.SaleDate}}, Ship Date: {{order.RequiredShipDate}}
      </h1>
      <p></p>


      {% for orderitem in order.itemList%}
      <div data-role="collapsible">
        <h1>
          <p>
          Item SKU: {{orderitem.OrderSKU}}, Item Name: {{orderitem.ModelName}}, 
          OrderQTY: {{orderitem.OrderQuantity}}, Remaining Files: {{orderitem.RemFileSum}},
          Remaining Print Time: {{orderitem.RemPrinttime}}
          </p>
        </h1>
      </div>
      {% endfor %}
    </div>
  </div>
    

    {% endfor %}
    <!--
    <button type="button" class="collapsible">Open Collapsible</button>
    <div class="content">
      <p></p>
    </div>

    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }
    </script>
    -->
    {% comment %} {% for j in OrderItemsList %} {% endfor %} {% endcomment %}

    <div class="container">
      <div class="center">
        <a href="uploadorders" class="button">Upload new Orders</a>
        <a href="uploadprintdata" class="button">Upload new Print Models</a>
        <a href="details" class="button">Order Details</a>
        <a href="summary" class="button">Order Summary</a>
      </div>
    </div>
  </body>
</html>
