{% load static from static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Test PJT</title>
    <link rel="stylesheet" href="{%static 'style.css'%}" />
  </head>
  <body>
    <h1>Home Page</h1>

    <p>{{ OrderItemsList }}</p>

    <p>{{ OrderItemsListQuery }}</p>

    <button type="button" class="collapsible">Open Collapsible</button>
    <div class="content">
      <p>Lorem ipsum...</p>
    </div>

    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }
    </script>

    <div class="container">
      <div class="center">
        <a href="uploadorders" class="button">Upload new Orders</a>
        <a href="uploadprintdata" class="button">Upload new Print Models</a>
        <a href="details" class="button">Order Details</a>
        <a href="summary" class="button">Order Summary</a>
      </div>
    </div>
  </body>
</html>
